* {
  margin: 0px;
}
* body #wrapper header {
  align-items: center;
  background-color: #000;
  display: flex;
  height: 100px;
  justify-content: center;
  text-align: center;
}
* body #wrapper header a {
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  margin: 0px 50px;
  text-decoration: none;
}
* body #wrapper header a:hover {
  color: #2FA8EC;
  transition: 0.21s;
}
* body #wrapper header:hover {
  background-color: #1E1E1E;
  transition: 0.21s;
}
* body #wrapper #manami {
  background-color: #E8E8E8;
  padding: 75px 0px 0px 0px;
  text-align: center;
}
* body #wrapper #manami h2 {
  color: #43464C;
  font: normal 700 38px 'Helvetica Neue', sans-serif;
  letter-spacing: 0.6px;
  margin-bottom: 100px;
}
* body #wrapper #manami .container div {
  display: inline-block;
  margin: 0px 26px 100px 26px;
  position: relative;
  vertical-align: top;
}
* body #wrapper #manami .container div label {
  color: #696969;
  font: normal 200 28px 'Helvetica Neue', sans-serif;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 20px;
  transition: 0.21s;
}
* body #wrapper #manami .container div input {
  background-color: transparent;
  border-bottom: solid #A8A8A8;
  border-width: 0px 0px 2px 0px;
  color: #fff;
  font: normal 50 28px 'Helvetica Neue', sans-serif;
  overflow: visible;
  padding: 22px 0px 12px 14px;
  transition: 0.21s;
  width: 375px;
}
* body #wrapper #manami .container div input:focus {
  background-color: #A8A8A8;
  outline: none;
}
* body #wrapper #manami .container div input:focus ~ label,
* body #wrapper #manami .container div input:valid ~ label {
  color: #CBC4C6 !important;
  font-size: 16px !important;
  top: 75px !important;
}
* body #wrapper #chisato {
  background-color: #2F3238;
  text-align: center;
  padding: 75px 0px 0px 0px;
}
* body #wrapper #chisato h2 {
  color: #AAAAAA;
  font: normal 700 38px 'Helvetica Neue', sans-serif;
  letter-spacing: 0.6px;
  margin-bottom: 100px;
}
* body #wrapper #chisato .container div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0px 26px 100px 26px;
}
* body #wrapper #chisato .container div label {
  color: #b5b5b5;
  font: normal 200 19px 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 24px;
  left: 19px;
}
* body #wrapper #chisato .container div input {
  border: solid 2px #B5B5B5;
  background-color: transparent;
  color: #b5b5b5;
  font: normal 200 19px 'Helvetica Neue', sans-serif;
  padding: 23px 0px 24px 17px;
  width: 329px;
  transition: 0.21s;
}
* body #wrapper #chisato .container div input::placeholder {
  color: #b5b5b5;
}
* body #wrapper #chisato .container div input:focus {
  outline: none;
  border: solid 2px #DA6484;
}
* body #wrapper #chisato .container div input:focus ~ #chisako_label_firstname {
  display: none;
}
* body #wrapper #chisato .container div .animation {
  margin: 50px 0px 50px 17px;
  background-color: red !important;
}
* body #wrapper #yoshiko {
  background-color: #F0EFEE;
  text-align: center;
  padding: 75px 0px 0px 0px;
}
* body #wrapper #yoshiko h2 {
  color: #AAAAAA;
  font: normal 700 38px 'Helvetica Neue', sans-serif;
  letter-spacing: 0.6px;
  margin-bottom: 100px;
}
* body #wrapper #yoshiko .container div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0px 26px 100px 26px;
}
* body #wrapper #yoshiko .container div input {
  background-color: #D0D1D0;
  border: none;
  color: #AAAAAA;
  font: normal 200 19px 'Helvetica Neue', sans-serif;
  padding: 27px 0px 25px 24px;
  width: 331px;
}
* body #wrapper #yoshiko .container div input::placeholder {
  color: #8B8C8B;
}
* body #wrapper #ruri {
  background-color: #2F3238;
  text-align: center;
  padding: 75px 0px 0px 0px;
}
* body #wrapper #ruri h2 {
  color: #43464C;
  font: normal 700 38px 'Helvetica Neue', sans-serif;
  letter-spacing: 0.6px;
  margin-bottom: 100px;
}
* body #wrapper #ruri .container div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0px 26px 100px 26px;
}
* body #wrapper #ruri .container div input {
  background-color: transparent;
  border-bottom: solid 7px #B7C3AC;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  color: #9FCD98;
  font: normal 200 24px 'Helvetica Neue', sans-serif;
  padding: 22px 0px 6px 2px;
  width: 340px;
}
* body #wrapper #ruri .container div input::placeholder {
  color: #696969;
}
* body #wrapper #fumi {
  background-color: #F0EFEE;
  text-align: center;
  padding: 75px 0px 0px 0px;
}
* body #wrapper #fumi h2 {
  color: #AAAAAA;
  font: normal 700 38px 'Helvetica Neue', sans-serif;
  letter-spacing: 0.6px;
  margin-bottom: 100px;
}
* body #wrapper #fumi .container div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0px 26px 100px 26px;
}
* body #wrapper #fumi .container div input {
  background-color: #FFFFFF;
  border: none;
  color: #696981;
  font: normal 200 19px 'Helvetica Neue', sans-serif;
  padding: 22px 0px 22px 17px;
  width: 340px;
}
* body #wrapper #fumi .container div input::placeholder {
  color: #696981;
}
* body #wrapper #fumi .container div input:focus {
  outline: none;
}
* body #wrapper footer {
  background-color: #1E1E1E;
  height: 150px;
}
